
/*media query for responsive*
@media only screen and (max-width: 667px) {
  .adesh-portfolio {
    width: 217%;
    display: block;
    float: left;
  }

  .deatils {
    width: 80%;
  }
  .div-list-details {
    width: 80%;
  }

  .banner {
    width: 226%;
  }
  .adesh_deatils {
    width: 100%;
  }
  .adesh_deatils p {
    width: 103%;
    margin-left: 5rem;
  }
  .adesh_deatils h1 {
    width: 115%;
    margin-left: 1rem;
    font-size: 40px;
  }
  .adesh_deatils a {
    margin-left: 6rem;
  }
  .social-details {
   
    display: none;
  }
  .animated-text {
    width: 116%;
    margin-left: 5px;
    margin-bottom: 50px;
  }

  .about {
    width: 226%;
  }
  .me {
    width: 99%;
    font-weight: bold;
  }
  .work_skills {
    width: 50%;
    display: block;
    float: left;
  }
  .work_skills {
    width: 100%;
    display: block;
    float: left;
  }
  .get_to_know {
    width: 100%;
    display: block;
    float: left;
    margin: 10px -97px;
    font-size: 22px;
  }
  .skills {
    width: 100%;
    display: block;
    float: left;
    margin: 44px -14px;
    font-size: 22px;
  }
  .adesh_deatils a:hover {
    background-color: aqua;
  }
  .div_button a:hover {
    background-color: chocolate;
  }
  p span:hover {
    background-color: aqua;
    border-radius: 3px;
  }
  .skills ul li:hover {
    background-color: rgb(244, 75, 14);
  }

  .projects-area {
    width: 223%;
  }
  .projects_imgs {
    margin: 10px 32px;
    width: 92%;
  }
  .projects_link {
    text-align: center;
    width: 100%;
  }

  .projects_link h2 {
    margin: 10px 10px;
  }
  .projects_link p {
    margin: 2rem 9rem;
    font-size: 20px;
  }

  .div-project-area {
    width: 100%;
  }

  .div-project-area img {
    width: 141%;
    height: 361px;
    margin: 48px 147px;
    border-radius: 6px;
  }

  .div-project-area2 {
    width: 100%;
  }

  .div-project-area2 img {
    width: 141%;
    height: 361px;
    margin: 20rem 9rem;
    border-radius: 6px;
  }

  .div-project-area3 {
    width: 100%;
  }

  .div-project-area3 img {
    width: 141%;
    height: 361px;
    margin: 39rem 9rem;
    border-radius: 6px;
  }

  .contact_form {
    width: 227%;
    display: block;
    float: left;
  }

  .contact {
    width: 100%;
  }

  .div_form form {
    width: 72%;
    margin: 10px 112px;
  }
}

/*media query for xr 667*/
@media screen and (min-width: 320px) and (max-width: 667px) {
  .adesh-portfolio {
    width: 217%;
    display: block;
    float: left;
  }

  .deatils {
    width: 80%;
  }
  .div-list-details {
    width: 80%;
  }

  .banner {
    width: 226%;
  }
  .adesh_deatils {
    width: 100%;
  }
  .adesh_deatils p {
    width: 103%;
    margin-left: 5rem;
  }
  .adesh_deatils h1 {
    width: 115%;
    margin-left: 1rem;
    font-size: 40px;
  }
  .adesh_deatils a {
    margin-left: 4rem;
  }
  .social-details {
    display: none;
  }
  .animated-text {
    width: 116%;
    margin-left: 5px;
    margin-bottom: 50px;
    margin-top: -35px;
  }

  .about {
    width: 226%;
  }
  .me {
    width: 99%;
    font-weight: bold;
  }
  .work_skills {
    width: 50%;
    display: block;
    float: left;
  }
  .work_skills {
    width: 100%;
    display: block;
    float: left;
  }
  .get_to_know {
    width: 100%;
    display: block;
    float: left;
    margin: 10px -97px;
    font-size: 22px;
  }
  .skills {
    width: 100%;
    display: block;
    float: left;
    margin: 44px -14px;
    font-size: 22px;
  }
  .adesh_deatils a:hover {
    background-color: aqua;
  }
  .div_button a:hover {
    background-color: chocolate;
  }
  p span:hover {
    background-color: aqua;
    border-radius: 3px;
  }
  .skills ul li:hover {
    background-color: rgb(244, 75, 14);
  }

  .projects-area {
    width: 223%;
  }
  .projects_imgs {
    margin: 10px 32px;
    width: 92%;
  }
  .projects_link {
    text-align: center;
    width: 100%;
  }

  .projects_link h2 {
    margin: 10px 10px;
  }
  .projects_link p {
    margin: 2rem 9rem;

    font-size: 20px;
  }

  .div-project-area {
    width: 100%;
  }

  .div-project-area img {
    width: 141%;
    height: 361px;
    margin: 48px 147px;
    border-radius: 6px;
  }

  .div-project-area2 {
    width: 100%;
  }

  .div-project-area2 img {
    width: 141%;
    height: 357px;
    margin: 20rem 8.9rem;
    border-radius: 6px;
  }

  .div-project-area3 {
    width: 100%;
  }

  .div-project-area3 img {
    width: 141%;
    height: 356px;
    margin: 39.5rem 8.9rem;
    border-radius: 6px;
  }

  .contact_form {
    width: 227%;
    display: block;
    float: left;
  }

  .contact {
    width: 100%;
  }

  .div_form form {
    width: 72%;
    margin: 10px 112px;
  }
}
